body {
    background-color: lightblue;
    font-family: 'Lucida Sans', verdana, sans-serif;
}

h1 {
    text-align: center;
    color: blueviolet
}

p {
    text-align: justify;
    width: fit-content;
}

.center {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.foto {
    background-color: #000;
}

.foto img {
    width: 23%;
}

.cod{
    margin: auto;
    width: 80%;
}

.cod p {
    background-color: aquamarine;
    border: 5px dotted green;
    text-align: center;
    font-weight: bold;
    color: blue;
    display: block;
    margin: 0 auto;
}