.container {
    display: flex;
    justify-content: space-around;
}

.kotak {
    border: 3px solid rgb(243, 222, 222);
    width: 100px;
    height: 400px;
    padding: 50px;
    margin: 50px;
}

.item-1 {
    background-color: rgb(133, 238, 240);
}

.item-2 {
    background-color: rgb(252, 147, 121);
}

.item-3 {
    background-color: yellow;
}

.item-4 {
    background-color: blue;
}
