html{
    padding: 0;
    margin: 0;
  }
  body{
   background: url() no-repeat; 
   background-size: cover;
   align-items: center;
   justify-content: center;
    display:grid;
    font-family: sans-serif;
  }
  .content{
    position: relative;
    margin-top: 100px;
    width: 459px;
    height: auto;
    background: #eaeaea;
    border-radius: 5px;
  }
  h1{
    text-align: center;
  }
  
  .forms{
    padding: 20px 40px;
  }
  .forms .nama .email .jam .tujuan .jumlah{
    font-size: 15px;
    margin: 5px 0;
    padding-top: 18px;
  }
  .forms input{
    height: 30px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    border: none;
    margin-top: 8px;
    margin-bottom: 10px;
  
  }
  button{
    padding-left: 10px;
    padding-right: 10px;
    margin: 40px 0 30px 40px;
    height: 40px;
    width: 280px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(173, 248, 168);
    border: 2px white;
    border-radius: 3px;
  }